:root {
    --BG-500: #000;
    --BG-400: #0A0B0A;
    --BG-300: #0F100F;
    --BG-200: #131514;
    --BG-100: #272A29;

    --FG-500: #F4F5F5;
    --FG-400: #D5D8D6;
    --FG-300: #B9C0BD;
    --FG-200: #99A39F;
    --FG-100: #6F7B76;

    --ACCENT: #16D886;
}
